build/
DerivedData/

*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.xcuserdatad
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

xcuserdata/
xcusereddata/WorkspaceSettings.xcsettings

*.mobileprovision
*.ipa

.swiftpm/
.build/
Packages/
Package.resolved

*.swp
*.swm
*.swl
*.dSYM
*.dSYM.zip

Pods/
*.xcworkspace

Carthage/Build/
Carthage/Checkouts/

*.log
*.lock
*.tmp
*.cache

*.orig